{% extends 'TlerochAdminBundle:Default:layout.html.twig' %}
{% block page_title %}Accueil{% endblock %}

{% block content %}
    <div>
        <p>
            Bienvenue sur l'accueil de votre espace client.
        </p>
    </div>
{% endblock %}
